#amazon-float {
    float: right;
    margin-top: 10px;
    width: 75%;
}

#river-float {
    width: 100%;
}

#animals-info-float {
    margin-top: 30px;
}


.container {
    display: flex;
    align-items: stretch;
}

#river-flex {
    width: 100%;
}

#amazon-info-flex {
    margin-top: 30px;
    width: 25%;
}

#amazon-flex {
    width: 75%;
    margin-top: 30px;
}

h1 {
    text-align: center;
}